.header { /* header comun para todas las paginas */
  padding: 50px;
  text-align: center;
  background: #DEBBB4;
  color: grey;
  padding-top: 40px;
  padding-bottom: 40px; /* estos padding crean el espacio debajo del título en h1 */
  padding-left: 40px;
  padding-right: 20px;
  font-family: Verdana;
}

.webphrase {
  text-align: center;
  font-family: Verdana;
}

.navmenu {
  background-color: #FFC585;
  text-align: center;
  padding: 20px;
  font-family: Verdana;
  font-size: 30px;
}
